body{
    background-color: #88eff7;
}
#anounce{
  background-color: white;
  height: 50px;
  margin: 0 auto;
  width: 700px;
  box-shadow: 0px 0px 20px rgb(54, 54, 54);
  border-radius: 20px;
  display: flex;
  flex-flow:row ;
  align-items: center;
  
}
#anounce img{
  width: 50px;
  height: 50px;
}
.contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    margin: 0 auto;
    width: 60%;
    
}
.contain .item{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    background-color: #a8e6cf;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(54, 54, 54);
}
.contain .item .info .btn-qq,.btn-wx{
    padding:10px 20px;
    background-color: #ffaaa5;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
}

.contain .item  .name{
    color: #0a0a0a;
    margin: 0 20px;
    font-weight: 700;
    font-size: 20px;
    
}



.contain .item .info img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}


/* alert 部分 */
.container {
    width: 30%;
    height: 560px;
    background-color: whitesmoke;
    border: 1px solid black;
    display: flex;
    align-items: center;
    /* position: absolute; */
    flex-direction: column;
    position: fixed;
    top: 5%;
    left: 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000028;
  }
  
  .container div {
    padding: 10px;
  }

  #select,
  #btn-close {
    padding: 10px 20px;
    border: none;
    background-color: rgb(70, 185, 170);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .contain-none {
    display: none;
  }
  .info-name {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
  .info-name-qq{
      display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
  .search{
    height: 200px;
    margin: 0 auto;
    width: 700px;
    /* background-color: #ffaaa5; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #search-box{
    line-height: 50px;
    font-size: 20px;
    width: 500px;
    border-radius: 0px 10px 10px 0px;
    appearance:none;
	  -moz-appearance:none; 
	  -webkit-appearance:none; 
  }
  
  #selectbox{
    height: 56px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
  }
  #selectbox option:hover{
    background-color: #0a0a0a;
  }
  #selectbox option{
    color: red;
    display: block;
    line-height: 50px;
  }
  #search-btn{
    height: 56px;
    width: 80px;
    border-radius: 15px;
    background-color: rgb(19, 226, 99);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .big-contain{
  justify-content: space-around;
  display: flex;
  flex-flow: column
   
 }
/* 适配手机端 */
@media screen and (orientation:portrait){
  body{
      background: rgb(239, 245, 191);
  }
  
  .contain .item .info .btn-qq,.btn-wx{
    padding:10px 20px;
    background-color: #ffaaa5;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    
    /* margin-left: 0; */
    width: 100px;
}
  
  .contain{
    width: 100%;
    flex-flow: column
  }
  .contain .item{
    display: flex;
    align-items: center;
    background-color: #a8e6cf;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(54, 54, 54);
    width: 100%;
    height: 50px;
}
.contain .item .info img{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
#search-box{
  width: 150px;
}
#search-btn{
  width: 80px;
}
.search{
  width: 300px;
}
.container {
  width: 60%;
  height: 560px;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
  align-items: center;
  /* position: absolute; */
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 12%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #00000028;
}
.container div {
  padding: 10px;
}
.contain-none {
  display: none;
}
#anounce{
  width: 400px
}
}
